# Dummy Variables

## Overview

Many datasets have non-numeric (text) data. When using regression and some other types of analysis, numeric-only data is required.

This issue can be solved by using __dummy variables__, which encode text fields as numeric data, specifically as binary flags. This is also called "one-hot" encoding.

__*Note*__: in pandas, text fields are called "object" data.

### Dataset without dummies

First let's read in the dataset

In [1]:
import pandas as pd

In [2]:
# columns:
# Name,Position Title,Department,Employee Annual Salary
df_orig = pd.read_csv(
    "../DATA/city-of-chicago-salaries.csv",
)
df_orig.head()
#TODO: this is bad data for dummies

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$85512.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$75372.00
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$80916.00
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$99648.00
4,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,$89440.00